:root {
    --light: #C1D2D9;
    --dark: #245C73;
    --accent: #A6635D;
    --pale: #A0CED9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: var(--light);
    color: var(--dark);
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(12, 1fr);
    height: 100vh;
    
    padding: 10px;
}

.week {
    grid-column: 3/ 10;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.plan {
    grid-column: 6/ 8;
    grid-row: 3;
    padding: 20px;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    background-color: var(--accent);
    color: var(--dark);
    font-size: 1.2rem;
    font-weight: bold;
    margin: 20px;
}



.hamburger {
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    grid-row: -1;
    grid-column: 1;
}

#myLinks {
    display: none;
}

.myLinks {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;

}

a {
    margin: 10px 0;
    color: var(--dark);
    text-decoration: none;
    font-size: bold;
    font-size: 1.2rem;
}

input {
    background-color: var(--pale);
    color: var(--dark);
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
}

